:root {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 90%;
    height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 1em;
    position: relative;
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

h1 {
    margin: 0;
    font-size: 1.8em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 1em;
}

header label {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#time-slider {
    width: 300px;
}

.time-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
    font-size: 1em;
}

#selected-time {
    font-weight: bold;
}

#any-time {
    font-weight: lighter;
    color: gray;
}

circle {
    pointer-events: auto;
    fill: color-mix(in oklch,
            var(--color-departures) calc(100% * var(--departure-ratio)),
            var(--color-arrivals));
}

.legend {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
    width: 90%;
}

.legend>div {
    flex: 1;
    padding: 0.3em 0.7em;
    text-align: center;
    font-size: 0.9em;
    color: white;
}

.legend> :nth-child(1) {
    background-color: var(--color-departures);
    border-radius: 10px 0 0 10px;
}

.legend> :nth-child(2) {
    --departure-ratio: 0.5;
    background-color: color-mix(in oklch,
            var(--color-departures) calc(100% * var(--departure-ratio)),
            var(--color-arrivals));
}

.legend> :nth-child(3) {
    background-color: var(--color-arrivals);
    border-radius: 0 10px 10px 0;
}
